RIP/WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/FinReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetReportIdArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dateBegin" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateEnd" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportIdArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportIdArrayResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="My_timeZone">
        <s:complexType />
      </s:element>
      <s:element name="My_timeZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="My_timeZoneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reportID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportResult" type="tns:FinReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FinReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TimeZones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimeZonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimeZonesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReportIdArraySoapIn">
    <wsdl:part name="parameters" element="tns:GetReportIdArray" />
  </wsdl:message>
  <wsdl:message name="GetReportIdArraySoapOut">
    <wsdl:part name="parameters" element="tns:GetReportIdArrayResponse" />
  </wsdl:message>
  <wsdl:message name="My_timeZoneSoapIn">
    <wsdl:part name="parameters" element="tns:My_timeZone" />
  </wsdl:message>
  <wsdl:message name="My_timeZoneSoapOut">
    <wsdl:part name="parameters" element="tns:My_timeZoneResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="TimeZonesSoapIn">
    <wsdl:part name="parameters" element="tns:TimeZones" />
  </wsdl:message>
  <wsdl:message name="TimeZonesSoapOut">
    <wsdl:part name="parameters" element="tns:TimeZonesResponse" />
  </wsdl:message>
  <wsdl:portType name="FinReportServiceSoap">
    <wsdl:operation name="GetReportIdArray">
      <wsdl:input message="tns:GetReportIdArraySoapIn" />
      <wsdl:output message="tns:GetReportIdArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="My_timeZone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">My Time Zone</wsdl:documentation>
      <wsdl:input message="tns:My_timeZoneSoapIn" />
      <wsdl:output message="tns:My_timeZoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportSoapIn" />
      <wsdl:output message="tns:GetReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimeZones">
      <wsdl:input message="tns:TimeZonesSoapIn" />
      <wsdl:output message="tns:TimeZonesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinReportServiceSoap" type="tns:FinReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReportIdArray">
      <soap:operation soapAction="http://tempuri.org/GetReportIdArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="My_timeZone">
      <soap:operation soapAction="http://tempuri.org/My_timeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://tempuri.org/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeZones">
      <soap:operation soapAction="http://tempuri.org/TimeZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinReportServiceSoap12" type="tns:FinReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReportIdArray">
      <soap12:operation soapAction="http://tempuri.org/GetReportIdArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="My_timeZone">
      <soap12:operation soapAction="http://tempuri.org/My_timeZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap12:operation soapAction="http://tempuri.org/GetReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeZones">
      <soap12:operation soapAction="http://tempuri.org/TimeZones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinReportService">
    <wsdl:port name="FinReportServiceSoap" binding="tns:FinReportServiceSoap">
      <soap:address location="http://localhost:5679/FinReport.asmx" />
    </wsdl:port>
    <wsdl:port name="FinReportServiceSoap12" binding="tns:FinReportServiceSoap12">
      <soap12:address location="http://localhost:5679/FinReport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>